<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Jogmedia</title>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/stylemng.css}" rel="stylesheet" media="screen"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta http-equiv="context-type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="col-sm-11 col-md-11">
    <!-- Navbar top -->
    <div class="row row-top">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right">
                    <li><a><span>20:45</span></a></li>
                    <li th:inline="text"><a><span class="fa fa-user"></span> Hi, [[${#httpServletRequest.remoteUser}]]!</a></li>
                    <li><a href="#">
                        <form th:action="@{/logout}" method="post">
                            <span class="fa fa-sign-out"></span>
                            <input type="submit" value="Sign Out" style="background: none; border: none"/>
                        </form>
                    </a>
                    </li>
                </ul>
                <div class="wrapper-title">
                    <span><h3>BOOK MASTER</h3></span>
                </div>
            </div>
        </nav>
    </div>
    <!-- Button circle -->
    <div class="row btn-add">
        <a href="/book/createBook">
            <button type="button" class="btn btn-default btn-circle col-md-5 col-sm-2" name="button" data-toggle="modal" data-target="#modal-add">
                <i class="fa fa-plus"></i>
            </button>
        </a>
    </div>
    <!--Content-->
    <div class="row wrapper">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="content">
                    <a href="/book"><button class="btn btn-default"><i class="fa fa-home"></i></button></a>
                    <a href="/discount"><button class="btn btn-default">Discount</button></a>
                    <a href="/emptyStok"><button class="btn btn-default">Empty</button></a>
                    <form class="form-horizontal" th:action="@{/book/search}" method="post">
                    <!--Search Book-->
                    <div class="row-fluid input-group" style="margin-top:3%">
                        <span class="input-group-addon sp-icon">
                          <i class="fa fa-book"></i>
                        </span>
                        <input type="text" class="form-control" name="searchKey" th:value="${searchKey}" placeholder="Book Title"/>
                        <span class="input-group-btn">
                          <button class="btn btn-default btn-search" type="button" name="button" >Search</button>
                        </span>
                    </div>
                    </form>
                    <!--Table Book-->
                    <div class="panel panel-default col-md-12 margin5">
                        <div class="panel-body table-responsive" style="max-height:430px;overflow:auto">
                            <div th:if="${not #lists.isEmpty(book)}">
                                <table class="table table-striped">
                                    <tr>
                                        <!--<th>Book Id</th>-->

                                        <th>ISBN</th>
                                        <th>Title</th>
                                        <th>Author</th>
                                        <th>Publisher</th>
                                        <th>Category</th>
                                        <th>Status</th>
                                        <th>Price</th>
                                        <th>Stock</th>
                                        <th>Disc%</th>
                                        <th>Location</th>
                                        <th>Action</th>
                                    </tr>
                                    <tr th:each="book: ${book}">
                                        <!--<td th:text="${book.book_id}"></td>-->
                                        <td th:text="${book.isbn}"></td>
                                        <td th:text="${book.book_title}"></td>
                                        <td th:text="${book.author}"></td>
                                        <td th:text="${book.publisher}"></td>
                                        <td th:each="cat : ${categories}"
                                            th:if="${book.category_id==cat.category_id}" th:text="${cat.category_name}"></td>
                                        <td th:if="${book.status == 1}" th:text="Active"></td>
                                        <td th:if="${book.status == 0}" th:text="Deactive"></td>
                                        <td th:text="${book.price_after}"></td>
                                        <td th:text="${book.stok}"></td>
                                        <td th:text="${book.discount}"></td>
                                        <td th:text="${book.location}"></td>
                                        <td>
                                            <a th:href="${'/book/editBook/'+book.book_id}">
                                                <button class="btn btn-primary">Edit</button>
                                            </a>
                                            <a th:href="${'/book/softDelete/'+book.book_id}">
                                                <button th:if="${book.status == 1}" th:text="Active" class="btn btn-warning btnActive">Active</button>
                                                <button th:if="${book.status == 0}" th:text="Deactive" class="btn btn-warning btnActive">Deactive</button>
                                            </a>
                                            <a th:href="${'/book/hapus/'+book.book_id}">
                                                <button class="btn btn-danger">Delete</button>
                                            </a>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Navbar left -->
<div class="col-sm-1 col-md-1">
    <div class="navbar navbar-inverse navbar-fixed-left">
        <a class="navbar-brand" style="color:white!important"><strong>JOGMEDIA</strong></a>
        <ul class="nav navbar-nav ul-top">
            <li><a href="/store"><i class="fa fa-home"></i>&nbsp; Store</a></li>
            <li><a href="/book"><i class="fa fa-book"></i>&nbsp; Book</a></li>
            <li><a href="/category"><i class="fa fa-th-list"></i>&nbsp; Category</a></li>
            <li><a href="/reportmng"><i class="fa fa-bar-chart"></i>&nbsp; Report</a></li>
            <li><a href="/tampilemp"><i class="fa fa-user"></i>&nbsp; Employee</a></li>
        </ul>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">
    $('.btnActive').click(function(){
        var $this = $(this);
        $this.toggleClass('btnActive');

        if($this.hasClass('btnActive')){
            $this.text('Active');
        } else {
            $this.text('Deactive');
        }
    });
</script>
</body>
</html>