<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Jogmedia</title>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/stylemng.css}" rel="stylesheet" media="screen"/>
    <meta http-equiv="context-type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="col-sm-11 col-md-11">
    <!-- Navbar top -->
    <div class="row row-top">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right">
                    <li class="span-disclick"><span>20:45 &nbsp; &nbsp;</span></li>
                    <li class="span-disclick"><span class="fa fa-user"></span> Cashier, <span id="uname">Mail</span></li>
                    <li><a href="#"><span class="fa fa-sign-out"></span> Logout</a></li>
                </ul>
                <div class="wrapper-title">
                    <span><h3>Book</h3></span>
                </div>
            </div>
        </nav>
    </div>
    <!-- Button circle -->
    <div class="row btn-add">
        <a href="/book/createBook">
            <button type="button" class="btn btn-default btn-circle col-md-5 col-sm-2" name="button" data-toggle="modal" data-target="#modal-add">
                <i class="fa fa-plus"></i>
            </button>
        </a>
    </div>
    <!--Content-->
    <div class="row wrapper">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="content">
                    <form class="form-horizontal" th:action="@{/book/search}" method="post">
                    <!--Search Book-->
                    <div class="row-fluid input-group">
                        <span class="input-group-addon sp-icon">
                          <i class="fa fa-book"></i>
                        </span>
                        <input id="uname" type="number" class="form-control" name="temp" placeholder="Book Title"/>
                        <span class="input-group-btn">
                          <button class="btn btn-default btn-search" type="button" name="button">Search</button>
                        </span>
                    </div>
                    </form>
                    <!--Table Book-->
                    <div class="panel panel-default col-md-12 margin5">
                        <div class="panel-body table-responsive" style="max-height:430px;overflow:auto">
                            <div th:if="${not #lists.isEmpty(book)}">
                                <table class="table table-striped">
                                    <tr>
                                        <!--<th>Book Id</th>-->
                                        <th>Category Id</th>
                                        <th>ISBN</th>
                                        <th>Title</th>
                                        <th>Author</th>
                                        <th>Publisher</th>
                                        <th>Status</th>
                                        <th>Price</th>
                                        <!--<th>Harga Sesudah</th>-->
                                        <th>Diskon</th>
                                        <th>Location</th>
                                        <th>Action</th>
                                    </tr>
                                    <tr th:each="book: ${book}">
                                        <!--<td th:text="${book.book_id}"></td>-->
                                        <td th:text="${book.category_id}"></td>
                                        <td th:text="${book.isbn}"></td>
                                        <td th:text="${book.book_title}"></td>
                                        <td th:text="${book.author}"></td>
                                        <td th:text="${book.publisher}"></td>
                                        <td th:if="${book.status == 1}" th:text="Aktif"></td>
                                        <td th:if="${book.status == 0}" th:text="Tidak Aktif"></td>
                                        <td th:text="${book.price_after}"></td>
                                        <!--<td th:text="${book.price_after}"></td>-->
                                        <td th:text="${book.discount}"></td>
                                        <td th:text="${book.location}"></td>
                                        <td>
                                            <a th:href="${'/book/editBook/'+book.book_id}">
                                                <button>
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                </button>
                                            </a>
                                            <a th:href="${'/book/hapus/'+book.book_id}">
                                                <button>
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Navbar left -->
<div class="col-sm-1 col-md-1">
    <div class="navbar navbar-inverse navbar-fixed-left">
        <a class="navbar-brand" style="color:white!important"><strong>JOGMEDIA</strong></a>
        <ul class="nav navbar-nav ul-top">
            <li><a href="store.html"><i class="fa fa-home"></i>&nbsp; Store</a></li>
            <li><a href="book.html"><i class="fa fa-book"></i>&nbsp; Book</a></li>
            <li><a href="discmng.html"><i class="fa fa-product-hunt"></i>&nbsp; Discount</a></li>
            <li><a href="emptymng.html"><i class="fa fa-times-circle"></i>&nbsp; Empty Stock</a></li>
            <li><a href="category.html"><i class="fa fa-th-list"></i>&nbsp; Category</a></li>
            <li><a href="reportmng.html"><i class="fa fa-bar-chart"></i>&nbsp; Report</a></li>
            <li><a href="tampilemp.html"><i class="fa fa-user"></i>&nbsp; Employee</a></li>

        </ul>
    </div>
</div>
</body>
</html>