<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>SpringBoot - Project</title>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"
          media="screen"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{/css/stylemng.css}" rel="stylesheet" media="screen"/>
    <meta http-equiv="context-type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="col-sm-11 col-md-11">
    <!-- Navbar top -->
    <div class="row row-top">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right">
                    <li class="span-disclick"><span>20:45 &nbsp; &nbsp;</span></li>
                    <li class="span-disclick"><span class="fa fa-user"></span> Cashier, <span id="uname">Mail</span>
                    </li>
                    <li><a href="/home"><span class="fa fa-sign-out"></span> Logout</a></li>
                </ul>
                <div class="wrapper-title">
                    <span><h3>Add New Book</h3></span>
                </div>
            </div>
        </nav>
    </div>
    <div class="row wrapper">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="content">
                    <!--Create Book-->
                    <div class="row">
                        <form class="form-horizontal" th:object="${book}" th:action="@{/book/}" method="post">
                            <input type="hidden" th:field="*{book_id}"/>
                            <div class="col-md-6 form-group">
                                <input type="hidden" th:field="*{book_id}"/>
                                <div class="row wrapper-content">
                                    <label>ISBN</label>
                                    <input th:field="*{isbn}" type="text" class="input form-control" name="" value=""/>
                                </div>
                                <div class="row wrapper-content margin5">
                                    <label>Title</label>
                                    <input th:field="*{book_title}" type="text" class="input form-control" name=""
                                           value=""/>
                                </div>
                                <div class="row wrapper-content margin5">
                                    <label>Author</label>
                                    <input th:field="*{author}" type="text" class="input form-control" name=""
                                           value=""/>
                                </div>
                                <div class="row wrapper-content margin5">
                                    <label>Publisher</label>
                                    <input th:field="*{publisher}" type="text" class="input form-control" name=""
                                           value=""/>
                                </div>
                                <div class="row wrapper-content margin5">
                                    <label>Category</label>
                                    <div class="form-group" style="margin-left: 0.5%; margin-right: 0.5%">
                                        <select th:field="*{category_id}" class="form-control" id="sel1">
                                            <option th:each="cat : ${categories}"
                                                    th:value="${cat.category_id}"
                                                    th:text="${cat.category_name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row wrapper-content margin5">
                                    <label>Location</label>
                                    <input th:field="*{location}" type="text" class="input form-control" name=""
                                           value=""/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row wrapper-content">
                                    <label>Price </label>
                                    <input th:field="*{price_before}" type="text" class="input form-control" name=""
                                           value=""/>
                                </div>
                                <div class="row wrapper-content margin5">
                                    <label>Stok</label>
                                    <input th:field="*{stok}" type="text" class="input form-control" name=""
                                           value=""/>
                                </div>
                                <div class="row wrapper-content margin5">
                                    <label>Disc (%)</label>
                                    <input th:field="*{discount}" type="text" class="input form-control" name=""
                                           value=""/>
                                </div>
                                
                            </div>
                            <div type="submit" class="form-group">
                                <button type="submit" class="btn btn-warning">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Navbar left -->
<div class="col-sm-1 col-md-1">
    <div class="navbar navbar-inverse navbar-fixed-left">
        <a class="navbar-brand" style="color:white!important"><strong>JOGMEDIA</strong></a>
        <ul class="nav navbar-nav ul-top">
            <li><a href="/store"><i class="fa fa-home"></i>&nbsp; Store</a></li>
            <li><a href="/book"><i class="fa fa-book"></i>&nbsp; Book</a></li>
            <li><a href="/discount"><i class="fa fa-product-hunt"></i>&nbsp; Discount</a></li>
            <li><a href="/emptyStok"><i class="fa fa-times-circle"></i>&nbsp; Empty Stock</a></li>
            <li><a href="/category"><i class="fa fa-th-list"></i>&nbsp; Category</a></li>
            <li><a href="/reportmng"><i class="fa fa-bar-chart"></i>&nbsp; Report</a></li>
            <li><a href="/tampilemp"><i class="fa fa-user"></i>&nbsp; Employee</a></li>
        </ul>
    </div>
</div>
</body>
</html>