<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>SpringBoot - Project</title>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/stylecsr.css}" rel="stylesheet" media="screen"/>

    <meta http-equiv="context-type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <div class="page-header text-center">
        <h1>Simple CRUD SpringBoot</h1>
    </div>
    <div class="container jumbotron">
        <a href="book.html" ><b>Manager</b></a>
    </div>
</body>
</html>