<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="assets/stylemng.css" rel="stylesheet">
  </head>
  <body>
      <div class="col-sm-11 col-md-11">
      <!-- Navbar top -->
      <div class="row row-top">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
              <li class="span-disclick"><span>20:45 &nbsp &nbsp</span></li>
              <li class="span-disclick"><span class="fa fa-user"></span> Cashier, <span id="uname">Mail</span></li>
              <li><a href="#"><span class="fa fa-sign-out"></span> Logout</a></li>
            </ul>
            <div class="wrapper-title">
              <span><h3>Report</h3></span>
            </div>
          </div>
        </nav>
      </div>
      <!-- Content -->
      <div class="row wrapper">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="content">
              <!-- Sort by -->
              <div class="form-group" style="width:20%">
                <label for="sel1">By : </label>
                <select class="form-control" id="sel1">
                  <option>Weekly</option>
                  <option>Monthly</option>
                  <option>Year 2017</option>
                </select>
              </div>
              <!-- Content -->
              <div class="row well margin1lr">
                <h3>Best Selling</h3>
                <p>1. <span>Novel</span></p>
                <p>2. <span>Education</span></p>
                <p>3. <span>Economic</span></p>
              </div>
              <div class="row margin1lr">
                <div class="col-md-4">
                  <div class="well">
                    <h3>Income</h3>
                    <p>Rp 15700000</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="well">
                    <h3>Outcome</h3>
                    <p>Rp 10000000</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="well">
                    <h3>Profit</h3>
                    <p>Rp 5700000</p>
                  </div>
                </div>
              </div>
              <div class="row well margin1lr">
                <h3>Download report</h3>
                <p><button type="button" class="btn btn-primary" name="button">Download</button></p>
              </div>


            </div>
          </div>
        </div>

      </div>

    </div>
    <!-- Navbar left -->
    <div class="col-sm-1 col-md-1">
      <div class="navbar navbar-inverse navbar-fixed-left">
        <a class="navbar-brand" style="color:white!important"><strong>JOGMEDIA</strong></a>
        <ul class="nav navbar-nav ul-top">
          <li><a href="storemng.html"><i class="fa fa-home"></i>&nbsp Store</a></li>
          <li><a href="book.html"><i class="fa fa-book"></i>&nbsp Book</a></li>
          <li><a href="discmng.html"><i class="fa fa-product-hunt"></i>&nbsp Discount</a></li>
          <li><a href="emptymng.html"><i class="fa fa-times-circle"></i>&nbsp Empty Stock</a></li>
          <li><a href="categorymng.html"><i class="fa fa-th-list"></i>&nbsp Category</a></li>
          <li><a href="reportmng.html"><i class="fa fa-bar-chart"></i>&nbsp Report</a></li>
          <li><a href="employeemng.html"><i class="fa fa-user"></i>&nbsp Employee</a></li>
        </ul>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/stylemng.js"></script>
    <script type="text/javascript">

    </script>
  </body>
</html>
