<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Jogmedia</title>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/stylecsr.css}" rel="stylesheet" media="screen"/>
    <meta http-equiv="context-type" content="text/html; charset=UTF-8"/>
</head>

<body>

</body>
</html>
