<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="assets/stylecsr.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse nav-c">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a><span>20:45</span></a></li>
          <li><a><span class="fa fa-user"></span> Cashier, <span id="uname">Mail</span></a></li>
          <li><a href="#"><span class="fa fa-sign-out"></span> Logout</a></li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <!-- Left Side -->
      <div class="col-xs-12 col-sm-5 col-md-7">
        <div class="row-fluid">
          <form method="">
            <div class="row">
              <!-- search book -->
              <div class="col-md-9">
                <div class="row-fluid input-group">
                  <span class="input-group-addon sp-icon">
                    <i class="fa fa-book"></i>
                  </span>
                  <input id="uname" type="text" class="form-control" name="" placeholder="Book Title">
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-search" type="button" name="button">Search</button>
                  </span>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- table search book -->
        <div class="row-fluid table-book">
          <div class="panel panel-default">
            <div class="panel-body table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Book Title</th>
                    <th>Author</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Choose</th>
                  </tr>
                </thead>
              </table>
              <div class="">
                <table class="table table-striped">
                  <tbody>
                    <a href="index.html">
                      <tr>
                        <td id="bookName" class="td-book">Marmut Merah Jambu</td>
                        <td id="author">Raditya Dika</td>
                        <td id="priceAfter">30.000</td>
                        <td id="qty" class="ip-qty"><input type="number" class="form-control" name="" value="1"></td>
                        <td><button class="btn btn-primary">Buy</button></td>
                      </tr>
                    </a>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Right Side -->
        <div class="col-xs-12 col-sm-7 col-md-5">
          <div class="row-fluid">
            <form method="">
              <div class="row">
                <!-- button pay -->
                <div class="col-md-12">
                  <button type="button" class="btn btn-default btn-all search-book" data-toggle="modal" data-target="#modal-pay" data-backdrop="static">Pay</button>
                </div>
              </div>
            </form>
          </div><br>
          <!-- table cart -->
          <table class="table table-striped">
    				<thead>
    					<tr>
    						<th>Product</th>
    						<th>Price</th>
    						<th>Qty</th>
    						<th>Subtotal</th>
    						<th>Action</th>
    					</tr>
    				</thead>
    				<tbody id="detail_cart">
    					<tr>
    						<td id="bookName"></td>
    						<td id="priceAfter"></td>
    						<td id="quantity"></td>
    						<td id="total_payment"></td>
    						<td><button type="button" data-id="" class="hapus_cart btn btn-danger btn-xs">Cancel</button></td>
    					</tr>
    				<tr>
    					<th colspan="3">Total</th>
    					<th colspan="2">Rp <span id="total-payment"></span></th>
    				</tr>


    				</tbody>
    			</table>
        </div>

      <!-- modal button pay -->
      <!-- Modal -->
      <div class="modal fade" id="modal-pay" role="dialog">
        <div class="modal-dialog">
          <!-- Modal total-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <div class="row">
                <h4 class="modal-title"><center>Payment</center></h4>
              </div><hr>
              <div class="row green"><h3>
                <div class="col-sm-6 col-md-6">
                  <center>Total</center>
                </div>
                <div class="col-sm-6 col-md-6">
                  Rp20000
                </div></h3>
              </div>
              <div class="row"><h3>
                <div class="col-sm-6 col-md-6">
                  <center>Paying now</center>
                </div>
                <div class="col-sm-6 col-md-6">
                  <input type="number" class="input form-control" name="" value="">
                </div></h3>
              </div>
              <div class="row red"><h3>
                <div class="col-sm-6 col-md-6">
                  <center>Change</center>
                </div>
                <div class="col-sm-6 col-md-6">
                  <span>Rp0</span>
                </div></h3>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Print</button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/stylecsr.js"></script>
    <script type="text/javascript">

    </script>
  </body>
</html>
